name: CI
on: [push]
jobs:
  test:
    strategy:
      matrix:
        runs-on: ['macOS-latest', 'macOS-10.14']

    runs-on: ${{ matrix.runs-on }}

    steps:
    - name: Install tools
      run: |
        brew install --build-bottle --verbose Formula/*.rb

    # FIXME: Some tools have no tests
    # - name: Run tests
    #   run: |
    #     brew test Formula/*.rb
